 .header {
     background-color: #5246ff;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     padding: 5px 3rem;
 }

 h1 {
     color: white;
 }